<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.comingo.mapper.ActCommentMapper">
	<!-- resultMap映射 -->
	<resultMap type="com.comingo.domain.ActComment" id="actCommentRM">
		<!-- 主键 -->
		<id property="actId" column="act_id"/>
		
		<!-- 一般属性 -->
		<result property="userId" column="user_id"/>
		<result property="actCommentDesc" column="act_comment_desc"/>
		<result property="actCommentCreateTime" column="act_comment_create_time"/>
	</resultMap>
	
	<!-- 新增 -->
	<insert id="insertActComment" parameterType="com.comingo.domain.ActComment">
		insert into act_comment (act_id,user_id,act_comment_desc,act_comment_create_time)
		values 
		(	#{actId},
			#{userId},
			#{actCommentDesc},
			#{actCommentCreateTime}
		)
	</insert>
	<!-- 删除 -->
	<delete id="deleteById" parameterType="string">
		delete from act_comment
		where act_id = #{actId}
	</delete>
	<!-- 根据actId查询评论的个数 -->
	<select id="findActCommentCountByActId" parameterType="string" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM act_comment
		WHERE act_id = #{actId}
	</select>
	<!-- 查询评论内容 -->
	<select id="findActCommentDesc" parameterType="string" resultMap="actCommentRM">
		select * from act_comment
		where act_id = #{act_id}
	</select>
</mapper>