<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.comingo.mapper.ActLikeMapper">
	<!-- resultMap映射 -->
	<resultMap type="com.comingo.domain.ActLike" id="actLikeRM">
		<!-- 主键 -->
		<id property="actId" column="act_id"/>
		<!-- 一般属性 -->
		<result property="userId" column="user_id"/>
		<result property="actLikeCreateTime" column="act_like_create_time"/>
	</resultMap>
	
	<!-- 新增 -->
	<insert id="insertActLike" parameterType="com.comingo.domain.ActLike" >
		insert into act_like (act_id,user_id,act_like_create_time)
		values 
		(	#{actId},
			#{userId},
			#{actLikeCreateTime}
		)
	</insert>
	<!-- 删除 -->
	<delete id="deleteLikeById" parameterType="string">
		delete from act_like
		where act_id = #{actId}
	</delete>
	
	<!-- 根据actId查询点赞的个数 -->
	<select id="findActLikeCountByActId" parameterType="string" resultType="java.lang.Integer">
		select count(*) from act_like
		where act_id = #{actId}
	</select>
	<!-- 通过actId和userId查找该用户是否点赞 -->
	<select id="findActLike" parameterType="map" resultMap="actLikeRM">
		select * from act_like
		WHERE act_id = #{actId} and user_id = #{userId}
	</select>
</mapper>